.dark {
  background-color: #021934;
}
.dark {
  color: white !important;
}
.dark .home-trending .home-trending-top .p1 {
  color: white !important;
}
.dark .home-catigories .p1 {
  color: white !important;
}
.dark .home-information .p1 {
  color: white !important;
}
.dark .home-information .p2 {
  color: white !important;
}
.dark .home-about p {
  color: white !important;
}
.dark .home-trustedcompanies p {
  color: white !important;
}
.dark .home-blog-content .d1 {
  color: white !important;
}
.dark .home-mentor p {
  color: white !important;
}
.dark .popular-courses .p1 {
  color: white !important;
}
.dark .programming-topics .pt1 {
  color: white !important;
}
.dark .courses-programming p {
  color: white !important;
}
.dark .courses-programming a {
  color: white !important;
}
.dark .all-courses .p1 {
  color: white !important;
}
.dark .information-course .content2 .p1 {
  color: white !important;
}
.dark .information-course .content2 .p2 {
  color: white !important;
}
.dark .objective-features .p1 {
  color: white !important;
}
.dark .module-courses .p1 {
  color: white !important;
}
.dark .module-courses .d20 .p2 {
  color: white !important;
}
.dark .module-courses .d22 .p3 {
  color: white !important;
}
.dark .mentor p {
  color: white !important;
}
.dark .account-information .p1 {
  color: white !important;
}
.dark .account-information .p2 {
  color: white !important;
}
.dark .account-information .d2 .p3 {
  color: white !important;
}
.dark .account-information .d2 .p4 {
  color: white !important;
}
.dark .review p {
  color: white !important;
}
.dark .arif-kecik .p1 {
  color: white !important;
}
.dark .feedback p {
  color: white !important;
}
.dark .all-courses-left .p2 {
  color: white !important;
}
.dark .all-courses-left .p3 {
  color: white !important;
}
.dark .home-trustedcompanies img {
  color: white !important;
}
.dark-light {
  background: white;
}
.dark-mode-svg {
  fill: rgba(0, 0, 0, 1);
  border: none;
  border: transparent;
  background: white;
  border: #6a6a6a;
}
#dark-mode-svg {
  fill: rgba(0, 0, 0, 1);
  border: none;
  border: transparent;
  border: rgb(0 0 0 / 0.5);
  background: #6a6a6a;
}
